<div>
	@Html.ActionLink("Download", "DownloadCSV", "IAFCHBExportUser")
</div>
<script>

	
			
		

	function exportCSV() {

		window.location.href = '@Url.Action("DownloadCSV", "IAFCHBExportUserController")';
	}
		
	
</script>
