<div>
	@Html.ActionLink("Download A-RIT users", "DownloadCSV", "IAFCHBExportUser")
</div>
<script>
	function exportCSV() {

		window.location.href = '@Url.Action("DownloadCSV", "IAFCHBExportUserController")';
	}
			
</script>
