.handbook-centered{
  width: 792px;
  margin: 0 auto;
  padding: 0;
  @media screen and (max-width: 1109px){
    width: 100%;
    padding-left: 90px !important;
    padding-right: 90px !important;
  }
  @media (max-width: 767px) {
    padding-left: 28px !important;
    padding-right: 28px !important;
  }
  @media (max-width: 370px) {
    padding-left: 14px !important;
    padding-right: 14px !important;
  }
}
.handbook-title{
  h1{
    color: #2B4B6B;
  }
}
.handbook-content{
  p{
    font-family: "Nunito Sans", sans-serif;
    line-height: 22px;
    margin-bottom: 24px;
  }
  h6{
    color: #DF405A;
  }
  a{
    color: #2B4B6B;
    font-weight: 600;
  }
  ul{
    margin-top: 8px;
    margin-bottom: 24px;
  }
  ul > li > ul{
    list-style: disc;
    padding-left: 40px;
    margin: 0;
  }
}