.handbook-centered{
  width: 792px;
  margin: 0 auto;
  padding: 0;
  @media screen and (max-width: 1109px){
    width: 100%;
    padding-left: 90px !important;
    padding-right: 90px !important;
  }
  @media (max-width: 767px) {
    padding-left: 28px !important;
    padding-right: 28px !important;
  }
  @media (max-width: 370px) {
    padding-left: 14px !important;
    padding-right: 14px !important;
  }
}
.handbook-title{
  h1{
    color: #2B4B6B;
  }
}
.handbook-content{
  p{
    font-family: "Nunito Sans", sans-serif !important;
    line-height: 22px;
    margin-bottom: 24px !important;
  }
  h6{
    color: #DF405A;
  }
  a{
    color: #2B4B6B;
    font-weight: 600;
  }
  ul{
    margin-top: 8px;
    margin-bottom: 24px;
  }
  ul > li > ul{
    list-style: disc;
    padding-left: 40px;
    margin: 0;
  }
}
.ghost_btn{
  position: relative;
  background: transparent;
  padding: 10px 24px;
  margin: 0;
  color: #434f68;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: 1px solid #434f68;
  transition: 0.3s ease-in-out;
  &:after{
    content: 'Access this Resource';
    position: absolute;
  }
  &:hover {
    background: #2b4b6b;
    color: #fff;
  }
}