
.header {
  border-bottom: 1px solid #d8d8d8;
  &__text {
    background: #B5354A;
    padding: 8px 120px;
    height: 38px;
    &-link {
      color: $color_6;
      font-size: 0.875em;
      font-family: $font_family_6;
    }
  }
  &__search {
    border: none;
    outline: none;
    font-size: 1.250em;
    background: transparent;
  }
  &__logo {
    padding: 8px 0;
    img {
      margin-left: -19px;
    }
  }
  &__ul {
    display: flex;
    list-style: none;
    margin: 0 -12px;
    padding: 0;
  }
  &__list {
    &-link {
      display: flex;
      align-items: center;
      font-family: $font_family_4;
      font-weight: 400;
      color: $color_5;
      font-size: 1.00em;
      z-index: 1000;
      padding: 12px;
      transition: .3s ease-in-out;
      &:hover {
        //text-shadow: 1px 0 #2B4B6B;
        color: $color_blue;
        font-weight: bold;
      }
      &:focus {
        //text-shadow: 1px 0 #2B4B6B;
        color: $color_blue;
        font-weight: bold;
      }
      &:active {
        //text-shadow: 1px 0 #2B4B6B;
        color: $color_blue;
        font-weight: bold;
      }
    }
    &:nth-of-type(1) .header__list-link {
      &:after {
        content: "\E61D";
        display: block;
        font-family: $font_family_8;
        position: relative;
        right: -7px;
      }
    }
  }
  &__sub {
    &_ul {
    display: none;
    margin: 0;
    padding: 20px;
    list-style: none;
    width: 173px;
    height: 152px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #ffffff;
  }
    &_list{
      &-link{
        color: #666666;
        font-family: "Nunito Sans", sans-serif;
        font-style: 1.00em;
    }
      &:nth-of-type(1) > .header__sub_list-link {
        &:hover {
          //text-shadow: 1px 0 #5591AA;
          color: $color_community;
          font-weight: bold;
        }
        &:focus {
          //text-shadow: 1px 0 #5591AA;
          font-weight: bold;
          color: $color_community;
        }
      }
      &:nth-of-type(1)
      > .header__second_ul
      > .header__second_list
      > .header__second_list-link{
        &:hover {
          //text-shadow: 1px 0 #5591AA;
          color: $color_community;
          font-weight: bold;
        }
        &:focus {
          //text-shadow: 1px 0 #5591AA;
          font-weight: bold;
          color: $color_community;
        }
      }
    }
}
  &__second{
    &_ul{
    display: none;
  }
    &_list{
      &-link{
        color: #666666;
        font-family: "Nunito Sans", sans-serif;
        font-style: 1.00em;
    }
    }
  }

  &__nav {
    >ul {
      >li {

        >div {
          >ul {
            >li {
              >a {
                display: -webkit-box !important;
                display: -ms-flexbox !important;
                display: flex !important;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                width: 135px;
                -webkit-box-pack: space-between;
                -ms-flex-pack: distribute;
                justify-content: space-between;
                -webkit-transition: .1s ease-in-out;
                -o-transition: .1s ease-in-out;
                transition: .1s ease-in-out;
              }
              &:nth-of-type(1) {
                >a {
                  padding-top: 20px !important;
                  &:hover {
                    //text-shadow: 1px 0 #5591AA;
                    color: $color_community;
                    font-weight: bold;
                  }
                  &:focus {
                    //text-shadow: 1px 0 #5591AA;
                    font-weight: bold;
                    color: $color_community;
                  }
                }
                >div {
                  >ul {
                    >li {
                      &:first-child {
                        >a {
                          padding-top: 20px !important;
                        }
                      }
                      &:last-child {
                        >a {
                          padding-bottom: 20px !important;
                        }
                      }
                      >a {
                        &:hover {
                          //text-shadow: 1px 0 #5591AA;
                          color: $color_community;
                          font-weight: bold;
                        }
                        &:focus {
                          //text-shadow: 1px 0 #5591AA;
                          color: $color_community;
                          font-weight: bold;
                        }
                      }
                    }
                  }
                }
              }
              &:nth-of-type(2) {
                >div {
                  >ul {
                    >li {
                      &:first-child {
                        >a {
                          padding-top: 20px !important;
                        }
                      }
                      &:last-child {
                        >a {
                          padding-bottom: 20px !important;
                        }
                      }
                      >a {
                        &:hover {
                          //text-shadow: 1px 0 #BDA15F;
                          color: $color_leadership;
                          font-weight: bold;
                        }
                        &:focus {
                          //text-shadow: 1px 0 #BDA15F;
                          color: $color_leadership;
                          font-weight: bold;
                        }
                      }
                    }
                  }
                }
                >a {
                  &:hover {
                    //text-shadow: 1px 0 #BDA15F;
                    color: $color_leadership;
                    font-weight: bold;
                  }
                  &:focus {
                    //text-shadow: 1px 0 #BDA15F;
                    color: $color_leadership;
                    font-weight: bold;
                  }
                }
              }
              &:nth-of-type(3) {
                >div {
                  >ul {
                    >li {
                      &:first-child {
                        >a {
                          padding-top: 20px !important;
                        }
                      }
                      &:last-child {
                        >a {
                          padding-bottom: 20px !important;
                        }
                      }
                      >a {
                        &:hover {
                          //text-shadow: 1px 0 #73AA56;
                          color: $color_finance;
                          font-weight: bold;
                        }
                        &:focus {
                          //text-shadow: 1px 0 #73AA56;
                          color: $color_finance;
                          font-weight: bold;
                        }
                      }
                    }
                  }
                }
                >a {
                  &:hover {
                    //text-shadow: 1px 0 #73AA56;
                    color: $color_finance;
                    font-weight: bold;
                  }
                  &:focus {
                    //text-shadow: 1px 0 #73AA56;
                    color: $color_finance;
                    font-weight: bold;
                  }
                }
              }
              &:nth-of-type(4) {
                >div {
                  >ul {
                    >li {
                      &:first-child {
                        >a {
                          padding-top: 20px !important;
                        }
                      }
                      &:last-child {
                        >a {
                          padding-bottom: 20px !important;
                        }
                      }
                      >a {
                        &:hover {
                          //text-shadow: 1px 0 #CF794A;
                          color: $color_personnel;
                          font-weight: bold;
                        }
                        &:focus {
                          //text-shadow: 1px 0 #CF794A;
                          color: $color_personnel;
                          font-weight: bold;
                        }
                      }
                    }
                  }
                }
                >a {
                  padding-bottom: 20px !important;
                  &:hover {
                    //text-shadow: 1px 0 #CF794A;
                    color: $color_personnel;
                    font-weight: bold;
                  }
                  &:focus {
                    //text-shadow: 1px 0 #CF794A;
                    color: $color_personnel;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &__table-tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: distribute;
    justify-content: space-between;
  }
  &__table-td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}


.community__topics, .footer  {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.header__table-tr {
  padding: 24px 0;
}

.header__logo {
  padding: 0;

  img {
    height: 52px;
    margin-left: 0;
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1440px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background: #fff;
}

@media (max-width: 1109px) {
  .header__text {
    padding: 8px 27px;
  }
  .header__nav {
    >ul {
      >li {
        &:nth-of-type(5) {
          >a {
            padding-right: 22px !important;
          }
        }
      }
    }
  }


  .header__table-tr {
    height: 72px;
    padding: 16px 0 16px 16px !important;
  }

  .header__logo {
    padding: 0;

    img {
      width: auto;
      height: 40px;
      margin-left: 0;
    }
  }
}

@media (max-width: 767px) {
  .header__text {
    padding: 8px 28px;
  }

  .header__logo {
    padding: 0;
    img {
      margin-left: 0px;
    }
  }

  .header__table-td {
    display: none;
  }

  .header__mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__mob-nav {
    height: 100vh;
    width: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    z-index: 3;
    top: 38px;
    right: 0;
    background-color: $background_color_3;
    overflow-x: hidden;
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
  }

  .header__mob-open {
    font-size: 1.250em;
    color: $color_14;
    margin-right: 28px;
  }
  .header__mob-close {
    font-size: 1.250em;
    color: $color_14;
    margin-left: 28px;
  }
  .header__mob-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 72px;
    background: #fff;
    border: 1px solid #D8D8D8;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.10);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.10);
  }
  .header__mob-button {
    background: transparent;
    border: none;
    outline: none;
    margin-right: 22px;
    padding-left: 0px;
    padding-right: 0px;
    color: $color_16;
    font-size: 1.125em;
    outline: none;
    border: none;
    &:before {
      content: "\E670";
      display: block;
      font-family: $font_family_8 !important;
      color: $color_12;
      font-size: 1.125em;
      font-weight: 400;
    }
  }
  .header__mob-search {
    color: $color_16;
    font-size: 1.125em;
    outline: none;
    border: none;
  }

  .sticky .header__mob-nav {
    top: 0;
  }
}

@media (max-width: 370px) {
  .header__text {
    padding: 0 14px;
  }
  .header__mob-open {
    margin-right: 14px;
  }
}