.header {
  width: auto;
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: content-box;
  @media screen and (max-width: 767px){
    overflow: hidden;
  }
  &_wrapper{
    border-bottom: 1px solid #d8d8d8;
    margin: 0 -120px;
    @media (max-width: 1109px){
      margin: 0;
    }
  }
  &__text {
    background: #B5354A;
    padding: 8px 120px;
    height: 38px;
    &-link {
      color: $color_6;
      font-size: 0.875em;
      font-weight: 500;
      font-family: $font_family_6;
    }
  }
  &__search {
    border: none;
    outline: none;
    font-size: 1.250em;
    transition: .3s ease-in-out;
    background: transparent;
    &:hover {
      text-shadow: 1px 0 0 $color_blue;
      color: $color_blue;
    }
    &:focus {
      text-shadow: 1px 0 0 $color_blue;
      color: $color_blue;
    }
    &:active {
      text-shadow: 1px 0 0 $color_blue;
      color: $color_blue;
    }
  }
  &__logo {
    padding: 8px 0;
    img {
      margin-left: -45px;
      width: 381px;
      height: 87px;
    }
  }
  &__ul {
    display: flex;
    list-style: none;
    margin: 0 -12px;
    padding: 0;
    @media screen and (max-width: 1109px){
      margin: 0;
    }
  }
  &__list {
    display: flex;
    position: relative;
    &-link {
      display: flex;
      align-items: center;
      font-family: $font_family_4;
      font-weight: 400;
      color: $color_5;
      font-size: 1.00em;
      z-index: 1000;
      padding: 12px;
      transition: .3s ease-in-out;
      &:hover {
        text-shadow: 1px 0 0 $color_blue;
        color: $color_blue;
      }
    }
    &:nth-of-type(1) .header__list-link {
      &:after {
        content: "\E61D";
        display: block;
        font-family: $font_family_8;
        position: relative;
        right: -7px;
      }
    }
  }
  &__sub {
    &_ul {
      display: none;
      position: absolute;
      top: 45px;
      left: 0;
      z-index: 2;
      margin: 0;
      padding: 20px;
      list-style: none;
      width: 173px;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      background-color: #ffffff;
      @media screen and (max-width: 1109px){
        left: -32px;
      }
  }
    &_list{
      cursor: pointer;
      &:nth-of-type(1){
        padding: 0;
      }
      padding: 8px 0 0 0;
      &-link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #666666;
        font-family: "Nunito Sans", sans-serif;
        font-size: 1.00em;
        &:after{
          content: "\E61F";
          display: block;
          font-family: $font_family_8;
        }
    }
      &:nth-of-type(1) > .header__sub_list-link {
        &:hover {
          text-shadow: 1px 0 0 $color_community;
          color: $color_community;
        }
      }
      .header__sub_list-link, .header__second_list-link  {
        font-weight: 400;
      }
      &:nth-of-type(2) > .header__sub_list-link {
        &:hover {
          text-shadow: 1px 0 0 $color_leadership;
          color: $color_leadership;
        }
      }
      &:nth-of-type(3) > .header__sub_list-link {
        &:hover {
          text-shadow: 1px 0 0 $color_finance;
          color: $color_finance;
        }
      }
      &:nth-of-type(4) > .header__sub_list-link {
        &:hover {
          text-shadow: 1px 0 0 $color_personnel;
          color: $color_personnel;
        }
      }
      &:nth-of-type(1) .header__second_list-link{
        &:hover {
          text-shadow: 1px 0 0 $color_community;
          color: $color_community;
        }
        &:focus {
          text-shadow: 1px 0 0 $color_community;
          color: $color_community;
        }
      }
      &:nth-of-type(2) .header__second_list-link{
        &:hover {
          text-shadow: 1px 0 0 $color_leadership;
          color: $color_leadership;
        }
        &:focus {
          text-shadow: 1px 0 0 $color_leadership;
          color: $color_leadership;
        }
      }
      &:nth-of-type(3) .header__second_list-link{
        &:hover {
          text-shadow: 1px 0 0 $color_finance;
          color: $color_finance;
        }
        &:focus {
          text-shadow: 1px 0 0 $color_finance;
          color: $color_finance;
        }
      }
      &:nth-of-type(4) .header__second_list-link{
        &:hover {
          text-shadow: 1px 0 0 $color_personnel;
          color: $color_personnel;
        }
        &:focus {
          text-shadow: 1px 0 0 $color_personnel;
          color: $color_personnel;
        }
      }

      .header__second_list-link:hover:after, .header__second_list-link.active:after, .header__second_list-link:focus:after {
        content: "\E61F";
        display: inline;
        font-family: anticon;
        padding-left: 8px;
        vertical-align: middle;
      }
    }
}
  &__second{
    &_ul{
      display: none;
      position: absolute;
      left: 173px;
      top: 0;
      margin: 0;
      padding: 20px;
      list-style: none;
      width: 245px;
      border-radius: 3px;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      &:before{
        position: absolute;
        left: -15px;
        top: 20px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 15px 15px 0;
        border-color: transparent #ffffff transparent transparent;

      }
  }
    &_list{
      &:nth-of-type(1){
        padding: 0;
      }
      padding: 8px 0 0 0;
      &-link{
        color: #666666;
        font-family: "Nunito Sans", sans-serif;
        font-size: 1.00em;

    }
    }
  }
  &__table-tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 120px;
    @media (max-width: 1109px){
      padding: 16px 0 16px 16px;
    }
  }
  &__table-td {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
.community__topics, .footer  {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.header__logo {
  padding: 0;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1440px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  background: #fff;
}

@media (max-width: 1109px) {
  .header__text {
    padding: 8px 27px;
  }
  .header__nav {
    >ul {
      >li {
        &:nth-of-type(5) {
          >a {
            padding-right: 22px !important;
          }
        }
      }
    }
  }
  .header__table-tr {
    height: 100px;
    padding: 16px 0 16px 16px !important;
    .header__logo-link{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .header__logo {
    padding: 0;
    img {
      height: 76px;
      width: 300px;
      margin-left: -15px;
    }
  }
}
@media (max-width: 767px) {
  .header__text {
    padding: 8px 7.5%;
  }
  .header__logo {
    padding: 0;
    img {
      margin-left: -23px;
      width: 269px;
      height: 67px;
    }
  }
  .header__nav {
    display: none;
  }
  .header__table-tr{
    height: 72px;
  }
  .header__mob {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__mob-nav {
    height: 100vh;
    width: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 3;
    top: 38px;
    right: 0;
    background-color: $background_color_3;
    overflow-x: hidden;
    transition: width 0.5s;
  }
  .header__mob-open {
    font-size: 1.250em;
    color: $color_14;
    margin-right: 28px;
  }
  .header__mob-close {
    font-size: 1.250em;
    color: $color_14;
    margin-left: 28px;
  }
  .header__mob-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    background: #fff;
    border: 1px solid #D8D8D8;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.10);
  }
  .header__mob-button {
    background: transparent;
    border: none;
    outline: none;
    margin-right: 28px;
    padding-left: 0px;
    padding-right: 0px;
    color: $color_16;
    font-size: 1.125em;
    outline: none;
    border: none;
    &:before {
      content: "\E670";
      display: block;
      font-family: $font_family_8 !important;
      color: $color_12;
      font-size: 1.125em;
      font-weight: 400;
    }
  }
  .header__mob-search {
    color: $color_16;
    font-size: 1.125em;
    outline: none;
    border: none;
  }
  .sticky .header__mob-nav {
    top: 0;
  }
}
@media (max-width: 370px) {
  .header__mob-open {
    margin-right: 14px;
  }
}
.accordion__title.active,
.accordion__item-link.active{
  text-shadow: 1px 0 0 $color_blue;
  color: $color_blue;
}
.accordion__content > .accordion__sub-item:nth-of-type(1) > .accordion__sub-title.active,
.accordion__content > .accordion__sub-item:nth-of-type(1) > .accordion__sub-content > li > a.active,
.header__sub_list:nth-of-type(1) .header__sub_list-link.colored,
.header__sub_list:nth-of-type(1) .header__sub_list-link.active,
.header__sub_list:nth-of-type(1) .header__second_list-link.active{
  text-shadow: 1px 0 0 $color_community;
  color: $color_community;
}
.accordion__content > .accordion__sub-item:nth-of-type(2) > .accordion__sub-title.active,
.accordion__content > .accordion__sub-item:nth-of-type(2) > .accordion__sub-content > li > a.active,
.header__sub_list:nth-of-type(2) .header__sub_list-link.colored,
.header__sub_list:nth-of-type(2) .header__sub_list-link.active,
.header__sub_list:nth-of-type(2) .header__second_list-link.active{
  text-shadow: 1px 0 0 $color_leadership;
  color: $color_leadership;
}
.accordion__content > .accordion__sub-item:nth-of-type(3) > .accordion__sub-title.active,
.accordion__content > .accordion__sub-item:nth-of-type(3) > .accordion__sub-content > li > a.active,
.header__sub_list:nth-of-type(3) .header__sub_list-link.colored,
.header__sub_list:nth-of-type(3) .header__sub_list-link.active,
.header__sub_list:nth-of-type(3) .header__second_list-link.active{
  text-shadow: 1px 0 0 $color_finance;
  color: $color_finance;
}
.accordion__content > .accordion__sub-item:nth-of-type(4) > .accordion__sub-title.active,
.accordion__content > .accordion__sub-item:nth-of-type(4) > .accordion__sub-content > li > a.active,
.header__sub_list:nth-of-type(4) .header__sub_list-link.colored,
.header__sub_list:nth-of-type(4) .header__sub_list-link.active,
.header__sub_list:nth-of-type(4) .header__second_list-link.active{
  text-shadow: 1px 0 0 $color_personnel;
  color: $color_personnel;
}
.colored-list{
  text-shadow: 1px 0 0 $color_blue;
  color: $color_blue;
}
.header__list-link.active{
  text-shadow: 1px 0 0 $color_blue;
  color: $color_blue;
}
.header_unlogged {
  .header__sub_ul{
    z-index: 3;
    width: 280px;
    left: -25px;
    height: auto;
    a {
      font-weight: 400;
    }
    @media screen and (max-width: 1109px){
      width: 210px;
    }
  }
  .header__second_ul {
    position: static;
    width: auto;
    box-shadow: none;
    margin-left: 20px;
    padding: 5px 5px 0 10px;
    @media screen and (max-width: 1109px){
      margin-left: 10px;
      padding: 5px 0 0 5px;
    }
    &:before{
      content: '';
      display: none;
    }
  }
}

@media (max-width: 374px) {
  .header__table-tr {
    height: 68px;
  }

  .header__logo img {
    height: 50px;
    margin-left: -15px;
    width: auto;
  }
}
.header__sub_list:nth-of-type(4) > .header__second_ul > .header__second_list:nth-of-type(5) {
  width: 155px;
}
@media screen and (max-width: 1109px){
  .header_unlogged .header__sub_list:nth-of-type(1) > .header__second_ul > .header__second_list:nth-of-type(3),
  .header_unlogged .header__sub_list:nth-of-type(2) > .header__second_ul > .header__second_list:nth-of-type(4){
    width: 120px;
  }
}
