//IE bugfix

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  @media (max-width: 767px) {
    .slick-arrow {
      top: auto;
    }

    .slick-next {
      right: 34%;
    }

    .slick-prev {
      margin-top: auto;
      top: auto;
    }
  }
}