.handbook__title{
  width: 100%;
  padding: 0 8.35%;
  height: 160px;
  background: url(../images/handbook-bg.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  @media screen and (max-width: 1109px){
    padding: 0 90px;
    height: 140px;
  }
  @media screen and (max-width: 767px){
    height: 100px;
    padding: 0 8.5%;
  }
  h1{
    color: #fff;
    font-family: $font_family_5;
    font-size: 2.250em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    margin: 0;
    @media screen and (max-width: 767px){
      margin: 0 auto;
      font-size: 1.750em;
    }
  }
}
.handbook_container{
  @media screen and (max-width: 1109px){
    padding: 0 90px;
  }
  @media screen and (max-width: 767px){
    padding: 0 28px;
  }
  @media screen and (max-width: 370px){
    padding: 0 14px;
  }
}
.all_progressindicator__wrapper{
  margin: 0 0 36px 0 !important;
}
.all_complete_resources_slides{
  margin-top: 36px;
  margin-bottom: 24px;
  @media screen and (max-width: 1109px) {
    margin-bottom: 8px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 20px;
    margin-bottom: 12px;
  }
}
.selectric-all_handbook{
  margin: 0 !important;
}
.handboox_subcontainer{
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 1200px){
    max-width: 588px;
    .progressindicator_share{
      height: 54px;
      border-bottom: 1px solid #D8D8D8;
      display: flex;
      align-items: center;
      justify-content: center !important;
      width: 100vw;
      padding-left: 0 !important;
      margin-bottom: 48px;
    }
    .progressindicator_share:nth-child(2){
      justify-content: center !important;
    }
    .progressindicator__wrapper{
      margin-top: 0;
      flex-direction: column-reverse;
    }
  }
  @media screen and (max-width: 767px){
    width: 100%;
  }
}
.handbook__template{
  .progressindicator{
    &__wrapper {
      @media screen and (max-width: 767px){
        margin-bottom: 20px !important;
      }
    }
  }
  .resources__slide-time{
    @media screen and (max-width: 767px) {
      bottom: 8px;
      right: 8px;
    }
  }
}
.progressindicator{
  &__wrapper{
    margin: 48px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1109px){
      margin-top: 0;
      flex-direction: column-reverse;
    }
    @media screen and (max-width: 767px){
      margin-bottom: 36px !important;
    }
    &-col{
      display: flex;
      @media screen and (max-width: 1109px){
        margin: 0 auto 0 0;
      }
      @media screen and (max-width: 767px){
        width: 100%;
        flex-wrap: wrap;
        margin: 0 auto 0 0;
      }
    }
  }
  &_share{
    color: #9b9b9b;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    border: none;
    padding: 0;
    background: transparent;
    outline: none;
    button{
      color: #9b9b9b;
      font-family: "Nunito Sans", sans-serif;
      font-size: 1em;
      font-weight: 400;
      border: none;
      background: transparent;
      outline: none;
    }
    i{
      position: relative;
      top: 1px;
      margin-right: 10px;
      font-size: 1.125em;
      color: #9b9b9b;
    }
    @media screen and (max-width: 1109px){
      height: 54px;
      border-bottom: 1px solid #D8D8D8;
      display: flex;
      align-items: center;
      justify-content: center !important;
      width: 50vw;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-bottom: 48px;
    }
    @media screen and (max-width: 767px){
      margin-bottom: 28px;
    }
  }
  &__label{
    width: 124px;
    height: 60px;
    border-radius: 3px;
    background-color: #2b4b6b;
    margin-right: 24px;
    color: $color_15;
    font-family: $font_family_5;
    font-weight: 400;
    font-size: 0.813em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &:nth-of-type(3){
      width: 148px;
    }
    @media screen and (max-width: 767px){
      width: 151px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0;
      margin-right: 0;
      flex-direction: row;
      &:nth-of-type(3){
        width: 100%;
      }
      &:nth-of-type(1){
        margin-right: 16px;
        margin-bottom: 16px;
      }
    }
    @media screen and (max-width: 370px){
      width: 138px;
    }
    .time{
      font-weight: 700;
      font-size: 1.250em;
      font-family: $font_family_4;
      @media screen and (max-width: 767px){
        margin-right: 8px;
        font-size: 1.250em;
      }
    }
  }
}
.handbook_category{
  &__wrapper {
    display: flex;
    align-items: flex-start;
    margin: 0 -12px 290px;
    @media screen and (max-width: 1440px){
      flex-wrap: wrap;
    }
    @media screen and (max-width: 1109px){
      justify-content: center;
      margin: 0 -12px 100px;
    }
    @media screen and (max-width: 767px){
      flex-direction: column;
      align-items: center;
      margin: 0 auto 30px;
    }
  }
  &__item{
    margin-right: 12px;
    margin-left: 12px;
    width: 100%;
    @media screen and (max-width: 1440px){
      width: 282px;
    }
    @media screen and (max-width: 1109px){
      &:nth-of-type(2){
        margin-bottom: 48px;
      }
    }
    @media screen and (max-width: 767px){
      margin: 0 0 24px 0;
      width: 320px;
      &:nth-of-type(2){
        margin-bottom: 24px;
      }
    }
    @media screen and (max-width: 370px){
      width: 100%;
    }
    &:hover {
      box-shadow: 0 6px 15px 0 rgba(0,0,0,0.15);
    }
    &__image{
      position: relative;
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 200px;
      border-radius: 3px 3px 0 0;
      color: $color_15;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 1440px){
        width: 282px;
      }
      @media screen and (max-width: 767px){
        width: 320px;
      }
      @media screen and (max-width: 370px){
        width: 100%;
      }
      img{
        position: absolute;
        height: 135px;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &.Community{
        background: #5591aa;
      }
      &.Leadership{
        background: #b89c5c;
      }
      &.Finance{
        background: #6ea352;
      }
      &.Personnel{
        background: #bf754d;
      }
      a{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 2;
      }
      h3{
        color: $color_15;
      }
    }
    &__time{
      font-family: $font_family_5;
      font-size: 0.813em;
      font-weight: 400;
      color: $color_15;
      display: flex;
      text-align: center;
      flex: 1;
      z-index: 1;
      justify-content: space-around;
      align-items: flex-end;
      padding: 17px 10px;
      cursor: default;
      span{
        font-family: $font_family_4;
        font-size: 0.938em;
        font-weight: 700;
        display: block;
      }
    }
    &__links{
      width: 100%;
      border-radius: 0 0 3px 3px;
      border: 1px solid #efefef;
      background-color: $color_15 !important;
      padding: 16px 20px 14px;
      @media screen and (max-width: 1440px){
        width: 282px;
      }
      @media screen and (max-width: 767px){
        width: 320px;
      }
      @media screen and (max-width: 370px){
        width: 100%;
      }
      a{
        display: flex;
        align-items: center;
        color: $color_5;
        font-family: $font_family_4;
        font-size: 1em;
        font-weight: 400;
        padding-bottom: 4px;
        transition: .3s ease-in-out;
        &:hover{
          &:after{
            content: "\E61F";
            font-family: $font_family_8;
            padding-top: 1px;
            padding-left: 8px;
            font-size: 1em;
            display: inline-block;
          }
        }

      }
      &.Community{
        a:hover{
          color: $color_community;
          text-shadow: 1px 0 0 $color_community;
        }
      }
      &.Leadership{
        background: #b89c5c;
        a:hover{
          color: $color_leadership;
          text-shadow: 1px 0 0 $color_leadership;
        }
      }
      &.Finance{
        background: #6ea352;
        a:hover{
          color: $color_finance;
          text-shadow: 1px 0 0 $color_finance;
        }
      }
      &.Personnel{
        background: #bf754d;
        a:hover{
          color: $color_personnel;
          text-shadow: 1px 0 0 $color_personnel;
        }
      }
    }
  }
}
.removeBtn {
  color: #b5354a;
  margin-left: -16px;
  i{
    font-size: 16px;
    margin-right: 6px;
  }
}
.removeComplenedBtn{
  color: #b5354a;
  i{
    font-size: 16px;
    margin-right: 6px;
  }
}
.completedResource{
  display: flex;
  align-items: center;
  color: #9b9b9b;
}

.complete_box:before:hover{
  font-family: anticon!important;
  color: #9b9b9b;
  display: inline-block;
  content: "\E632";
}
.myhandbook_head-buttons{
  display: none;
  @media screen and (max-width: 1109px){
    display: flex;
    margin: 0 -90px;;
  }
  @media screen and (max-width: 767px){
    margin: 0 -28px;
  }
  @media screen and (max-width: 370px){
    margin: 0 -14px;
  }
}
.handbook_breadcrumbs{
  margin: 54px 0 0;
}
.handbook_share{
  margin-right: 24px;
}
.community__head-following{
  background: #2b4b6b;
  color: #fff;
  padding: 0 12px;
  width: auto !important;
  width: unset !important;
}
.clicked-dislike:before{
  content: "\E64B";
  font-family: anticon!important;
  display: inline-block;
}
.clicked-like:before{
  content: "\E64C";
  font-family: anticon!important;
  display: inline-block;
}

.resources_slide_marked{
  opacity: 0.5;
}

.complete_blocks_first{
  margin: 0 -1%;
  width: auto;
  max-width: 1220px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  @media screen and (max-width: 1109px){
    margin: 0 -2%;
  }
  @media screen and (max-width: 767px){
    margin: 0 auto;
    align-items: flex-start;
    flex-direction: column;
  }
  &.complete_blocks_big{
    @media screen and (max-width: 900px){
      margin: 0 auto;
    }
  }
  .complete_block_first{
    width: 31.3%;
    margin: 0 1% 48px;
    border: 1px solid #EFEFEF;
    border-radius: 3px;
    transition: .3s ease-in-out;
    outline: none;
    &:hover{
      box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15);
    }
    @media screen and (max-width: 1109px){
      width: 46%;
      margin: 0 2% 48px;
    }
    @media screen and (max-width: 767px){
      margin: 0 0 24px;
      width: 320px;
    }
    @media screen and (max-width: 375px){
      width: 100%;
    }
    .single-post-comments{
      @media screen and (max-width: 1189px){
        display: none;
      }
    }
    &-mob{
      @media screen and (max-width: 767px){
        width: 100%;
      }
    }
  }
  .complete_block_big{
    width: 48%;
    @media screen and (max-width: 1109px){
      width: 46%;
    }
    @media screen and (max-width: 900px){
      width: 100%;
      margin: 0 auto 48px;
    }
    @media screen and (max-width: 767px){
      width: 100%;
      margin: 0 auto 24px;
    }
    .single-post-comments{
      @media screen and (max-width: 1189px){
        display: flex;
      }
      @media screen and (max-width: 767px){
        display: none;
      }
    }
  }
}
.complete_section .complete_block_first{
  opacity: 0.5;
  transition: .3s ease-in-out;
  &:hover{
    opacity: 1;
  }
}

.handbook__template{
  @media screen and (max-width: 767px){
    .complete_block_first{
      display: flex;
      margin: 0 0 24px;
      width: 100%;
      .resources__community-slide-info{
        width: 55%;
        height: auto !important;
        padding: 14px 14px 0;
      }
      .resources__slide-title{
        font-size: 1em;
      }
      .resources__slide-footer{
        display: none;
      }
    }
    .resources__community-img{
      width: 45%;
      img{
        border-radius: 3px 3px 0 0;
      }
    }
  }

}
.left_comment_area{
  @media screen and (max-width: 767px){
    margin-left: 0;
  }
}
.edit-icon{
  @media screen and (max-width: 1109px){
    text-align: right;
    width: 100%;
  }
}
.centered{
  @media screen and (max-width: 930px){
    justify-content: center;
  }
}
.progressindicator_share.centered{
  @media screen and (max-width: 1109px) {
    padding-right: 0px !important;
  }
}
@media (max-width: 990px) and (min-width: 901px) {
  .comment_span{
    display: none;
  }
}
