.handbook__title{
  width: 100%;
  padding: 0 8.35%;
  height: 160px;
  background-color: rgba(191, 55, 78, 0.85);
  display: flex;
  align-items: center;

  h1{
    color: #fff;
    font-family: 'Zilla Slab', serif;
    font-size: 2.250em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    margin: 0;
  }
}
.handbook_container{
  width: 88.3%;
  margin: 0 auto;
}
.progressindicator{
  &__wrapper{
    margin: 48px 0;
    display: flex;
  }
  &__label{
    width: 124px;
    height: 60px;
    border-radius: 3px;
    background-color: #2b4b6b;
    margin-right: 24px;
    color: #ffffff;
    font-family: 'Zilla Slab', serif;
    //font-size: 13px;
    font-weight: 400;
    font-size: 0.813em;
    text-align: center;
    padding-top: 8px;
    .time{
      //font-size: 20px;
      font-weight: 700;
      font-size: 1.250em;
      font-family: 'Nunito Sans', sans-serif;

    }
  }

}
.test{
  color:red;
}
.handbook_category{
  &__wrapper {}
  &__item{

    &__image{
      background-size: cover;
      width: 282px;
      height: 200px;
      border-radius: 3px 3px 0 0;
      a{
        display: block;
      }
    }
    &__link{}
  }

}



