.handbook__title{
  width: 100%;
  padding: 0 8.35%;
  height: 160px;
  background: url(../images/handbook-bg.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  @media screen and (max-width: 1109px){
    padding: 0 90px;
    height: 140px;
  }
  @media screen and (max-width: 767px){
    height: 100px;
    padding: 0 8.5%;
  }
  h1{
    color: #fff;
    font-family: $font_family_5;
    font-size: 2.250em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    margin: 0;
    @media screen and (max-width: 767px){
      margin: 0 auto;
      font-size: 1.750em;
    }
  }
}
.handbook_container{
  //padding: 0 120px;
  @media screen and (max-width: 1109px){
    padding: 0 90px;
  }
  @media screen and (max-width: 767px){
    padding: 0 28px;
  }
}
.handboox_subcontainer{
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 1200px){
    max-width: 588px;
    .progressindicator_share{
      height: 54px;
      border-bottom: 1px solid #D8D8D8;
      display: flex;
      align-items: center;
      justify-content: center !important;
      width: 100vw;
      padding-left: 0 !important;
      margin-bottom: 48px;
    }
    .progressindicator_share:nth-child(2){
      justify-content: center !important;
    }
    .progressindicator__wrapper{
      margin-top: 0;
      flex-direction: column-reverse;
    }
  }
  @media screen and (max-width: 767px){
    width: 100%;
  }
}
.handbook__template{
  .progressindicator{
    &__wrapper {
      @media screen and (max-width: 767px){
        margin-bottom: 20px;
      }
    }
  }
  .resources__slide-time{
    @media screen and (max-width: 767px) {
      bottom: 8px;
      right: 8px;
    }
  }
}
.progressindicator{
  &__wrapper{
    margin: 48px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1109px){
      margin-top: 0;
      flex-direction: column-reverse;
    }
    @media screen and (max-width: 767px){
      margin-bottom: 36px;
    }
    &-col{
      display: flex;
      @media screen and (max-width: 1109px){
        margin: 0 auto 0 0;
      }
      @media screen and (max-width: 767px){
        max-width: 320px;
        flex-wrap: wrap;
        margin: 0 auto;
      }
    }
  }
  &_share{
    color: #9b9b9b;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    border: none;
    background: transparent;
    outline: none;
    button{
      color: #9b9b9b;
      font-family: "Nunito Sans", sans-serif;
      font-size: 1em;
      font-weight: 400;
      border: none;
      background: transparent;
      outline: none;
    }
    i{
      position: relative;
      top: 1px;
      margin-right: 10px;
      font-size: 1.125em;
      color: #9b9b9b;
    }
    @media screen and (max-width: 1109px){
      height: 54px;
      border-bottom: 1px solid #D8D8D8;
      display: flex;
      align-items: center;
      justify-content: center !important;
      width: 100vw;
      padding-left: 0 !important;
      margin-bottom: 48px;
    }
    @media screen and (max-width: 767px){
      margin-bottom: 36px;
    }
  }
  &__label{
    width: 124px;
    height: 60px;
    border-radius: 3px;
    background-color: #2b4b6b;
    margin-right: 24px;
    color: $color_15;
    font-family: $font_family_5;
    font-weight: 400;
    font-size: 0.813em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &:nth-of-type(3){
      width: 148px;
    }
    @media screen and (max-width: 767px){
      width: 151px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0;
      margin-right: 0;
      flex-direction: row;
      &:nth-of-type(3){
        width: 100%;
      }
      &:nth-of-type(1){
        margin-right: 16px;
        margin-bottom: 16px;
      }
    }
    .time{
      font-weight: 700;
      font-size: 1.250em;
      font-family: $font_family_4;
      @media screen and (max-width: 767px){
        margin-right: 8px;
        font-size: 1.250em;
      }
    }
  }
}
.handbook_category{
  &__wrapper {
    display: flex;
    align-items: flex-start;
    margin: 0 -12px 50px;
    @media screen and (max-width: 1440px){
      flex-wrap: wrap;
    }
    @media screen and (max-width: 1109px){
      justify-content: center;
      margin: 0 -12px 100px;
    }
    @media screen and (max-width: 767px){
      flex-direction: column;
      align-items: center;
      margin: 0 auto 30px;
    }
  }
  &__item{
    margin-right: 12px;
    margin-left: 12px;
    width: 100%;
    @media screen and (max-width: 1440px){
      width: 282px;
    }
    @media screen and (max-width: 1109px){
      &:nth-of-type(2){
        margin-bottom: 48px;
      }
    }
    @media screen and (max-width: 767px){
      margin: 0 0 24px 0;
      width: 320px;
      &:nth-of-type(2){
        margin-bottom: 24px;
      }
    }
    &:hover {
      box-shadow: 0 6px 15px 0 rgba(0,0,0,0.15);
    }
    &__image{
      position: relative;
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 200px;
      border-radius: 3px 3px 0 0;
      color: $color_15;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 1440px){
        width: 282px;
      }
      @media screen and (max-width: 767px){
        width: 320px;
      }
      &.Community{
        background: #5591aa;
        .category_image{
          width: 100px;
        }
      }
      &.Leadership{
        background: #b89c5c;
        .category_image{
          width: 79px;
        }
      }
      &.Finance{
        background: #6ea352;
        .category_image{
          width: 100px;
        }
      }
      &.Personnel{
        background: #bf754d;
        .category_image{
          width: 114px;
        }
      }
      a{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 2;
      }
      h3{
        color: $color_15;
      }
      .category_image{
        position: absolute;
        overflow: hidden;
        left: 50%;
        top: 50%;
        height: 92px;
        transform: translate(-50%, -50%) scale(1.8);
        z-index: 0;
      }
    }
    &__time{
      font-family: $font_family_5;
      font-size: 0.813em;
      font-weight: 400;
      color: $color_15;
      display: flex;
      text-align: center;
      flex: 1;
      justify-content: space-around;
      align-items: flex-end;
      padding: 17px 10px;
      cursor: default;
      span{
        font-family: $font_family_4;
        font-size: 0.938em;
        font-weight: 700;
        display: block;
      }
    }
    &__links{
      width: 100%;
      border-radius: 0 0 3px 3px;
      border: 1px solid #efefef;
      background-color: $color_15 !important;
      padding: 16px 20px;
      @media screen and (max-width: 1440px){
        width: 282px;
      }
      @media screen and (max-width: 767px){
        width: 320px;
      }
      a{
        display: flex;
        align-items: center;
        color: $color_5;
        font-family: $font_family_4;
        font-size: 1em;
        font-weight: 400;
        padding-bottom: 4px;
        &:hover{
          &:after{
            content: "\E61F";
            font-family: $font_family_8;
            padding-top: 1px;
            padding-left: 8px;
            font-size: 1em;
            display: inline-block;
          }
        }

      }
      &.Community{
        a:hover{
          color: $color_community;
        }
      }
      &.Leadership{
        background: #b89c5c;
        a:hover{
          color: $color_leadership;
        }
      }
      &.Finance{
        background: #6ea352;
        a:hover{
          color: $color_finance;
        }
      }
      &.Personnel{
        background: #bf754d;
        a:hover{
          color: $color_personnel;
        }
      }
    }
  }
}
.removeBtn {
  color: #b5354a;
  margin-left: -16px;
  i{
    font-size: 16px;
    margin-right: 6px;
  }
}
.removeComplenedBtn{
  color: #b5354a;
  i{
    font-size: 16px;
    margin-right: 6px;
  }
}
.completedResource{
  display: flex;
  align-items: center;
  color: #9b9b9b;
}

.complete_box:before:hover{
  font-family: anticon!important;
  color: #9b9b9b;
  display: inline-block;
  content: "\E632";
}