.single-post-statistic{
  display: flex;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  button{
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    color: #9b9b9b;
    font-size: 13px;
    font-weight: 400;
    padding: 0;
    &:not(:last-child){
      margin-right: 16px;
    }
    &.anticon-like-o{
      &:hover{
        &:before{
          content: "\E64C";
        }
      }
    }
    &.anticon-dislike-o{
      &:hover{
        &:before{
          content: "\E64B";
        }
      }
    }
    &:before{
      font-size: 15px;
      padding-right: 4px;
    }
  }
}

.single-post-comments{
  display: flex;
  align-items: center;
  font-family: "Nunito Sans";
  font-size: 14px;
  letter-spacing: -0.6px;
  color: #9b9b9b;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  i{
    margin-right: 5px;
    font-size: 15px;
  }
  *{
    font-size: 13px;
    color: #9b9b9b;
  }
}

.single-post-add{
  margin-right: 24px;
  display: flex;
  align-items: center;
  button{
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0;
    border: none;
    color: #9b9b9b;
    font-family: "Nunito Sans";
    font-size: 13px;
    font-weight: 400;
    i{
      margin-right: 5px;
    }
  }
}

.box-container{
  @media screen and(min-width: 768px) and (max-width: 992px){
    padding: 0 36px;
  }
}

.resources{
  &_desc-separate{
    @media screen and (max-width: 767px){
      display: none;
    }
  }
  &-breadcrumbs{
    margin: 48px 0 24px;
    font-size: 1em;
    font-family: 'Zilla Slab';
    font-weight: 500;
    color: #666;
    letter-spacing: 0.5px;
    span, a {
      color: #9b9b9b;
      font-weight: 400;
    }
    @media screen and(min-width: 768px) and (max-width: 992px){
      max-width: 588px;
      width: 100%;
      margin: 40px auto 24px;
    }
    @media screen and(max-width: 767px) {
      margin: 28px auto 20px;
    }
    a{
      color: #9b9b9b;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
  }
  &__single{
    max-width: 790px;
    min-width: 430px;
    width: 100%;
    @media screen and (max-width: 767px){
      margin: 0 -28px;
      min-width: auto;
      width: unset;
    }
  }
  &-single{
    display: flex;
    padding-bottom: 100px;
    @media screen and (max-width: 1109px){
      flex-direction: column;
    }
    @media screen and (max-width: 767px){
      padding-bottom: 57px;
    }

    &__left{
      max-width: 790px;
      min-width: 430px;
      width: 100%;
      margin-right: 48px;
      @media screen and (max-width: 768px){
        min-width: auto;
        margin-right: 0;
      }
      &_post{
        display: flex;
        flex-direction: column;
        width: 100%;
        &_video{
          width: 100%;
          margin-bottom: 24px;
          iframe{
            width: 100% !important;
            height: 444px !important;
            border: none;
            @media screen and (max-width: 540px){
              height: 250px !important;
            }
          }
        }
        &_title{
          margin-bottom: 40px;
          @media screen and(min-width: 768px) and (max-width: 992px){
            max-width: 588px;
            width: 100%;
            margin: 0 auto 37px;
          }
          @media screen and (max-width: 767px){
            margin: 0 auto 24px 0;
          }
          h5{
            color: #2b4b6b;
            font-family: "Nunito Sans";
            font-size: 1.5em;
            font-weight: 700;
            margin-bottom: 8px;
            line-height: 1.3;
            @media screen and (max-width: 767px){
              margin-bottom: 4px;
            }
          }
          p, div{
            font-family: 'Zilla Slab', serif;
            margin: 0;
            color: #4a4a4a;
            font-size: 1.125em;
            font-weight: 300;
            line-height: 1.2;
            margin: 0 0 24px;
            &:last-child {
              margin: 0;
            }
            * {
              font-size: 1em;
            }
          }
          p {
            font-size: 1em;
          }
          a{
            font-size: 1em;
            color: #2B4B6B;
            font-weight: 600;
          }
          span {
            font-size: 1em;
          }
          ul, ol {
            font-family: 'Zilla Slab', serif;
            color: #4a4a4a;
            font-size: 1em;
            font-weight: 300;
            line-height: 1.2;
          }
        }
        &_comment{
          &_header{
            display: flex;
            justify-content: space-between;
            width: 100%;
            @media screen and(min-width: 768px) and (max-width: 992px){
              flex-wrap: wrap;
              max-width: 588px;
              width: 100%;
              margin: 0 auto;
            }
            @media screen and (max-width: 767px){
              flex-direction: column;
            }
            &_left{
              display: flex;
              align-items: center;
              &_checkbox{
                display: flex;
                align-items: center;
                margin-right: 24px;
                input{
                  background: #fff;
                  border: 1px solid #9b9b9b;
                  margin-right: 5px;
                }
                label{
                  color: #9b9b9b;
                  font-family: "Nunito Sans";
                  font-size: 13px;
                  font-weight: 400;
                }
              }
              &_share{
                color: #9b9b9b;
                font-family: "Nunito Sans";
                font-size: 13px;
                font-weight: 400;
              }
            }
            &_right{
              display: flex;
              align-items: center;
              @media screen and (max-width: 767px){
                margin-top: 16px;
              }
              .single-post-comments{
                margin-right: 16px;
                @media screen and (max-width: 970px){
                  display: none;
                }
                @media screen and (max-width: 767px){
                  margin-right: 24px;
                }
              }
            }
          }
          &_textarea{
            > div{
              width: 100%;
              @media screen and(max-width: 767px) {
                margin-top: 24px;
              }
            }

            .textarea-container,
            .replyAddComment{
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              width: 100%;
              @media screen and (max-width: 768px){
                max-width: 588px;
                margin: 0 auto;
              }
            }
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            margin-top: 32px;
            @media screen and(min-width: 768px) and (max-width: 992px){
              margin-top: 36px;
            }
            @media screen and(max-width: 767px) {
              margin-top: 0;
            }
            textarea{
              width: 100%;
              min-height: 100px;
              color: #666;
              padding: 18px;
              border-radius: 3px;
              border: 1px solid #9b9b9b;
              background-color: #ffffff;
              margin-bottom: 16px;
              resize: none;
              outline: none;
              &::placeholder{
                color: #9b9b9b;
                font-family: "Nunito Sans";
                font-size: 13px;
                font-weight: 400;
              }
            }
            .addCommentBtn{
              background: transparent;
              padding: 10px 24px;
              margin: 0;
              color: #434f68;
              font-family: "Nunito Sans";
              font-size: 14px;
              font-weight: 400;
              border-radius: 3px;
              border: 1px solid #434f68;
              transition: 0.3s ease-in-out;
              &:hover{
                background: #2b4b6b;
                color: #fff;
              }
              &:focus{
                background: #2b4b6b;
                color: #fff;
              }
            }
            &-reply{
              margin: 14px 0;
            }
          }
          &_changer{
            display: none;
            border-top: 1px solid #d8d8d8;
            border-bottom: 1px solid #d8d8d8;
            margin-top: 32px;
            @media screen and (max-width: 1109px){
              display: flex;
              margin: 36px -28px 0;
            }
            div{
              flex: 1;
              padding: 16px 0;
              color: #9b9b9b;
              font-family: "Nunito Sans";
              font-size: 1.25em;
              text-align: center;
              cursor: pointer;
              &:not(:last-child){
                border-right: 1px solid #d8d8d8;
              }
              &.active{
                color: #2b4b6b;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
    &__right{
      max-width: 360px;
      min-width: 200px;
      width: 100%;
      background-color: #efefef;
      padding: 32px 40px;
      @media screen and (min-width: 768px){
        display: block;
      }
      @media screen and (max-width: 1109px){
        display: none;
        max-width: 100%;
      }
      @media screen and (max-width: 767px){
        padding: 24px 28px 21px;
      }
      &_header{
        p{
          color: #2b4b6b;
          font-family: "Nunito Sans";
          font-size: 1.25em;
          font-weight: 700;
          margin: 0 0 16px;
        }
      }
      &_list{
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        margin-top: 16px;
        padding: 0;
        &_item{
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 24px 0;
          border-bottom: 1px solid #d8d8d8;
          &:first-child{
            padding-top: 0;
          }
          &_type{
            color: #666666;
            font-family: 'Zilla Slab', serif;
            font-weight: 500;
            font-size: .75em;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            margin-bottom: 2px;
          }
          &_title{
            margin-bottom: 10px;
            *{
              color: #2b4b6b;
              font-family: "Nunito Sans";
              font-size: 1em;
              font-weight: 700;
            }
          }
        }
      }
      &_more{
        text-align: center;
        a{
          color: #666666;
          font-family: "Nunito Sans";
          font-size: 1em;
          font-weight: 700;
        }
      }
    }
    &__comments_list{
      margin-top: 15px;
      @media screen and (min-width: 768px){
        display: block;
      }
      @media screen and (max-width: 768px){
        max-width: 588px;
        width: 100%;
        margin: 15px auto 0;
      }
      @media screen and (max-width: 767px){
        margin: 24px auto 0;
      }
      &_header{
        color: #2b4b6b;
        font-family: "Nunito Sans";
        font-size: 1.25em;
        font-weight: 700;
        margin-bottom: 12px;
      }
      &_container{
        &_items{
          padding: 0;
          list-style: none;
          margin: 0;
          &_item{
            padding: 16px 0 0;
            border-bottom: 1px solid #d8d8d8;
            &:first-child{
              border-top: 1px solid #d8d8d8;
            }
            &_title{
              max-width: 690px;
              width: 100%;
              *{
                color: #2b4b6b;
                font-family: "Nunito Sans";
                font-size: 1em;
                line-height: 1.4;
                font-weight: 700;
              }
            }
            &_text{
              max-width: 690px;
              width: 100%;
              color: #666666;
              font-family: "Nunito Sans";
              font-size: 1em;
              line-height: 1.4;
              font-weight: 400;
              margin-bottom: 4px;
            }
            .resources-single__comments_list_container_items{
              margin-left: 40px;
              &_item{
                border-top: 1px solid #d8d8d8 !important;
                border-bottom: 0;
              }
            }
            &_bottom{
              display: flex;
              justify-content: space-between;
              margin-bottom: 16px;
              .single-post-statistic button:not(:last-child){
                margin-right: 23px;
              }
              &_reply{
                display: flex;
                align-items: center;
                color: #9b9b9b;
                font-family: "Nunito Sans";
                font-size: .813em;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}
.community_indicator_col{
  display: flex;
  justify-content: space-between;
  margin: 48px 0 20px 0;
  align-items: center;
}
.community__section{
  .resources__slide{
    @media screen and (max-width: 768px){
      margin-right: 0 !important;
    }
  }
}
.complete {
  &_section {
    background-color: #efefef;
    padding: 64px 0 24px;
    margin: 52px -120px 100px;
    @media screen and (max-width: 1109px) {
      margin: 52px -90px 100px;
      padding: 48px 0 0;
    }
    @media screen and (max-width: 767px){
      padding: 36px 0 16px;
      margin: 40px -28px 68px;
    }
    @media screen and (max-width: 370px){
      margin: 40px -14px 68px;
    }
    &-title {
      margin-bottom: 16px;
      font-size: 40px;
      color: #3b4b6b;
    }
    .single-post-comments {
      @media screen and (max-width: 1109px) {
        display: none;
      }
    }
    .complete__resources_slide img{
      margin-bottom: -6px;
    }
    .complete__resources_slide{
      opacity: 0.5;
      transition: .3s ease-in-out;
      &:hover{
        opacity: 1;
      }
    }
  }
  &__resources {
    &_slide {
      margin: 0 12px 48px !important;
      @media screen and (max-width: 1109px) {
        width: 46% !important;
      }
      @media screen and (max-width: 767px) {
        margin: 0 0 24px !important;
        width: 100% !important;
      }
      img {      
        display: block;       
      }
      &-info {
        padding: 20px 25px 20px 20px;
        height: 181px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        @media screen and (max-width: 1109px) {
          height: 186px;
        }
      }
    }
    &_slides {
      display: flex;
      justify-content: flex-start !important;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 -2%;
      @media screen and (max-width: 767px) {
        margin: 0 auto;
      }
    }
  }
  &_box {
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: 1px solid #9b9b9b;
    background: transparent;
    outline: none;
    margin-right: 6px;
  }
  &_btn {
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    display: flex;
    align-items: center;
  }
  &__progressindicator_wrapper {
    margin: 16px 0 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1109px) {
      flex-direction: column;
      align-items: flex-start;
      margin: 24px 0 48px;
    }
    @media screen and (max-width: 767px) {
      margin: 13px 0 36px;
    }
    .complete__head-btn-select .selectric-community__category-select .selectric-items,
    .complete__head-btn-select .selectric-community__category-select{
      @media screen and (max-width: 767px) {
        width: 100% !important;
      }
    }
  }

  &__head-btn-select {
    margin-top: 20px !important;
    @media screen and (max-width: 767px) {
      margin-bottom: 0;
    }
  }
  &__head-buttons {
    display: flex;
    align-items: center;
    @media screen and (max-width: 1109px) {
      display: none;
    }
  }
  &-box {
    .community__head-title{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @media screen and (max-width: 1109px) {
      .single-post-comments {
        display: none;
      }
      .resources-breadcrumbs {
        margin: 0 auto 4px 0;
      }
      .selectric-community__title-select {
        margin: 0;
      }
    }
    @media screen and (max-width: 767px){
      .progressindicator_share {
        margin-bottom: 28px;
        &:nth-child(1) {
          justify-content: flex-end;
          padding-right: 12px;
        }
        &:nth-child(3) {
          justify-content: flex-start;
          padding-left: 12px;
        }
      }
  }
}
  &__tablet_head-buttons{
    display: none;
    @media screen and (max-width: 1109px) {
      display: flex !important;
      margin: 0 -90px;
      button:nth-of-type(1) {
        justify-content: flex-end !important;
        padding-right: 12px !important;
      }
      button:nth-of-type(2) {
        justify-content: flex-end !important;
        padding-right: 12px !important;
      }
      button:nth-of-type(3) {
        justify-content: flex-start !important;
        padding-left: 12px !important;
      }
    }
  }
}

@media screen and (max-width: 1109px){
  .progressindicator_share {
    &:nth-child(1) {
      justify-content: flex-end !important;
      padding-right: 12px !important;
    }
    &:nth-child(2) {
      justify-content: flex-end !important;
      padding-right: 12px !important;
    }
    &:nth-child(3) {
      justify-content: flex-start !important;
      padding-left: 12px !important;
    }
  }
  .handbook__social-buttons {
    margin: 0 -90px;
  }

  .community_indicator_col {
    margin: 0;
    margin-bottom: 12px;
    @media screen and (max-width: 767px) {
      margin-bottom: 16px;
    }
  }
}
.handbook__social-buttons {
  display: flex;
}
.commentReplyBtn,
addReplyCommentBtn{
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
}
.resourceLink{
  border: none;
  background: transparent;
  outline: none;
  text-align: left;
  padding: 0;
}
.addReplyCommentBtn{
  background: transparent;
  padding: 10px 24px;
  margin: 0;
  color: #434f68;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: 1px solid #434f68;
  transition: 0.3s ease-in-out;
  &:hover {
    background: #2b4b6b;
    color: #fff;
  }
}
/*Leadership*/
.label-leadership > .selectric-community__title-select > .selectric > .label{
   color: $color_leadership;
 }
.label-leadership > .community_title-label{
  color: $color_leadership;
}
.label-leadership > .selectric-community__title-select > .selectric-items > .selectric-scroll > ul > li:hover{
  color: $color_leadership !important;
}
/*Community*/
.label-community > .selectric-community__title-select > .selectric > .label{
  color: $color_community;
}
.label-community > .community_title-label{
  color: $color_community;
}
.label-community > .selectric-community__title-select > .selectric-items > .selectric-scroll > ul > li:hover{
  color: $color_community !important;
}
/*Finance*/
.label-finance > .selectric-community__title-select > .selectric > .label{
  color: $color_finance;
}
.label-finance > .community_title-label{
  color: $color_finance;
}
.label-finance > .selectric-community__title-select > .selectric-items > .selectric-scroll > ul > li:hover{
  color: $color_finance !important;
}
/*Personnel*/
.label-personnel > .selectric-community__title-select > .selectric > .label{
  color:$color_personnel;
}
.label-personnel > .community_title-label{
  color: $color_personnel;
}
.label-personnel > .selectric-community__title-select > .selectric-items > .selectric-scroll > ul > li:hover{
  color: $color_personnel !important;
}

.selectric-community__title-select .label-personnel .selectric-items > .selectric-scroll > ul > li:hover{
  color: $color_personnel !important;
}
.label-personnel{
  color: $color_personnel !important;
}
.label-finance{
  color: $color_finance !important;
}
.label-leadership{
  color: $color_leadership !important;
}
.label-community{
  color: $color_community !important;
}
.complete__resources_slides {
  margin: 0 -12px;
  width: auto;
  @media screen and (max-width: 1109px) {
    margin: 0;
  }
  .resources__slide {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media screen and (max-width: 767px){
.resources__logged{
  .resources__logged-buttons{
    flex-direction: column;
    button{
      margin: 0 auto;
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
}
}
.resources__slide-btn_logged{
  margin-left: 0;
}
.search-results .community__head-btn-select .selectric-wrapper{
  width: unset;
}
.selectric-handbook_title_select .selectric-items li.highlighted:after{
  content: "\E61F";
  display: block;
  font-family: anticon;
  margin-left: 8px;
  color: inherit;
}
.separate__slide-desc{
  font-family: "Zilla Slab", serif;
  margin: 0;
  @media screen and (max-width: 1109px) {
    font-size: 15px;
  }
}

.left_indicator_col .selectric-community__title-select li.label-community:hover:after,
.left_indicator_col .selectric-community__title-select li.label-leadership:hover:after,
.left_indicator_col .selectric-community__title-select li.label-personnel:hover:after,
.left_indicator_col .selectric-community__title-select li.label-finance:hover:after{
  content: "\E61F";
  display: block;
  font-family: anticon;
  margin-left: 8px;
  color: inherit;
}
.label-community > .selectric-community__title-select > .selectric-items > .selectric-scroll > ul > li:hover:after,
.label-leadership > .selectric-community__title-select > .selectric-items > .selectric-scroll > ul > li:hover:after,
.label-personnel > .selectric-community__title-select > .selectric-items > .selectric-scroll > ul > li:hover:after,
.label-finance > .selectric-community__title-select > .selectric-items > .selectric-scroll > ul > li:hover:after{
  content: "\E61F";
  display: block;
  font-family: anticon;
  margin-left: 8px;
  color: inherit;
}

/*cookies stuff*/
//.cookie-like:before,
//.cookie-dislike:before,
//.cookie-like.clicked:before,
//.cookie-dislike.clicked:before{
//  display: block;
//  font-family: anticon!important;
//}
//.cookie-like:before {
//  content: "\E69D";
//  background: #000;
//}
//.cookie-dislike:before {
//  content: "\E69E";
//  background: #000;
//}
//.cookie-like.clicked:before {
//  content: "\E64C";
//  background: red;
//}
//.cookie-dislike.clicked:before {
//  content: "\E64B";
//  background: red;
//}

.slide_desc_none{
  @media screen and (max-width: 767px){
    display: none;
  }
}
.community_info{
  height: 181px;
}
.resources_block_active{
  @media screen and (min-width: 1109px){
    display: block !important;
  }
}