.resources{
  &-breadcrumbs{
    margin: 40px 0 25px;
    font-size: 16px;
    color: #666666;
    font-weight: 500;
    letter-spacing: 0.5px;
    a{
      color: #9b9b9b;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
  }
  &-single{
    display: flex;
    &__left{
      max-width: 790px;
      width: 100%;
      margin-right: 50px;
      &_post{
        display: flex;
        flex-direction: column;
        width: 100%;
        &_video{
          width: 100%;
          margin-bottom: 20px;
          iframe{
            width: 100% !important;
            height: 415px !important;
          }
        }
        &_title{
          margin-bottom: 40px;
          h5{
            color: #2b4b6b;
            font-family: "Nunito Sans";
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 8px;
          }
          p{
            margin: 0;
            color: #4a4a4a;
            font-size: 18px;
            font-weight: 300;
          }
        }
        &_comment{
          &_header{
            display: flex;
            justify-content: space-between;
            width: 100%;
            &_left{
              display: flex;
              align-items: center;
              &_checkbox{
                display: flex;
                align-items: center;
                margin-right: 25px;
                input{
                  background: #fff;
                  border: 1px solid #9b9b9b;
                  margin-right: 5px;
                }
                label{
                  color: #9b9b9b;
                  font-family: "Nunito Sans";
                  font-size: 13px;
                  font-weight: 400;
                }
              }
              &_share{
                color: #9b9b9b;
                font-family: "Nunito Sans";
                font-size: 13px;
                font-weight: 400;
              }
            }
            &_right{

            }
          }
        }
      }
    }
    &__right{
      max-width: 360px;
      min-width: 200px;
      width: 100%;
      background-color: #efefef;
      padding: 32px 40px;
      &_header{
        *{
          color: #2b4b6b;
          font-family: "Nunito Sans";
          font-size: 20px;
          font-weight: 700;
          margin: 0 0 15px;
        }
      }
      &_list{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        padding: 0;
        &_item{
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 25px 0;
          border-bottom: 1px solid #d8d8d8;
          &_type{
            color: #666666;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1.2px;
          }
          &_title{
            *{
              color: #2b4b6b;
              font-family: "Nunito Sans";
              font-size: 16px;
              font-weight: 700;
            }
          }
          &_statistic{
            button{
              display: inline-block;
              background: transparent;
              border: none;
              color: #9b9b9b;
              font-size: 13px;
              font-weight: 400;
              //&.addLike{
              //  &:before{
              //    content: "\E69D";
              //  }
              //}
              //&.addDislike{
              //  &:before{
              //    content: "\E69E";
              //  }
              //}
              &:not(:last-child){
                margin-right: 15px;
              }
            }
          }
        }
      }
      &_more{
        text-align: center;
        a{
          color: #666666;
          font-family: "Nunito Sans";
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
    &__comments_list{
      &_header{
        color: #2b4b6b;
        font-family: "Nunito Sans";
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
      }
      &_container{

      }
    }
  }
}

