.single-post-statistic{
  button{
    display: inline-block;
    background: transparent;
    border: none;
    color: #9b9b9b;
    font-size: 13px;
    font-weight: 400;
    padding: 0;
    &:not(:last-child){
      margin-right: 16px;
    }
    &.anticon-like-o{
      &:hover{
        &:before{
          content: "\E64C";
        }
      }
    }
    &.anticon-dislike-o{
      &:hover{
        &:before{
          content: "\E64B";
        }
      }
    }
    &:before{
      font-size: 15px;
    }
  }
}

.single-post-comments{
  display: flex;
  align-items: center;
  font-family: "Nunito Sans";
  font-size: 14px;
  letter-spacing: -0.6px;
  color: #9b9b9b;
  font-weight: 400;
  i{
    margin-right: 5px;
    font-size: 15px;
  }
  *{
    font-size: 13px;
    color: #9b9b9b;
  }
  @media screen and (max-width: 767px){
    display: none;
  }
}

.single-post-add{
  margin-right: 24px;
  button{
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0;
    border: none;
    color: #9b9b9b;
    font-family: "Nunito Sans";
    font-size: 13px;
    font-weight: 400;
    i{
      margin-right: 5px;
    }
  }
}

.box-container{
  @media screen and(min-width: 768px) and (max-width: 992px){
    padding: 0 15px;
  }
}

.resources{
  &-breadcrumbs{
    margin: 40px 0 24px;
    font-size: 16px;
    color: #666666;
    font-weight: 500;
    letter-spacing: 0.5px;
    @media screen and (max-width: 768px){
      max-width: 588px;
      width: 100%;
      margin: 40px auto 24px;
    }
    a{
      color: #9b9b9b;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
  }
  &-single{
    display: flex;
    padding-bottom: 100px;
    @media screen and (max-width: 768px){
      flex-direction: column;
    }
    &__left{
      max-width: 790px;
      min-width: 430px;
      width: 100%;
      margin-right: 50px;
      @media screen and (max-width: 768px){
        min-width: auto;
        margin-right: 0;
      }
      &_post{
        display: flex;
        flex-direction: column;
        width: 100%;
        &_video{
          width: 100%;
          margin-bottom: 14px;
          iframe{
            width: 100% !important;
            height: 444px !important;
            @media screen and (max-width: 540px){
              height: 250px !important;
            }
          }
        }
        &_title{
          margin-bottom: 38px;
          @media screen and (max-width: 768px){
            max-width: 588px;
            width: 100%;
            margin: 0 auto 40px;
          }
          h5{
            color: #2b4b6b;
            font-family: "Nunito Sans";
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 8px;
          }
          p{
            font-face: ZillaSlab-Light;
            margin: 0;
            color: #4a4a4a;
            font-size: 18px;
            font-weight: 300;
          }
        }
        &_comment{
          &_header{
            display: flex;
            justify-content: space-between;
            width: 100%;
            @media screen and (max-width: 768px){
              flex-wrap: wrap;
              max-width: 588px;
              width: 100%;
              margin: 0 auto;
            }
            &_left{
              display: flex;
              align-items: center;
              &_checkbox{
                display: flex;
                align-items: center;
                margin-right: 24px;
                input{
                  background: #fff;
                  border: 1px solid #9b9b9b;
                  margin-right: 5px;
                }
                label{
                  color: #9b9b9b;
                  font-family: "Nunito Sans";
                  font-size: 13px;
                  font-weight: 400;
                }
              }
              &_share{
                color: #9b9b9b;
                font-family: "Nunito Sans";
                font-size: 13px;
                font-weight: 400;
              }
            }
            &_right{
              display: flex;
              .single-post-comments{
                margin-right: 16px;
              }
            }
          }
          &_textarea{
            > div{
              width: 100%;}

            .textarea-container,
            .replyAddComment{
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              width: 100%;
            }
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            margin-top: 32px;
            textarea{
              width: 100%;
              min-height: 100px;
              padding: 18px;
              border-radius: 3px;
              border: 1px solid #9b9b9b;
              background-color: #ffffff;
              margin-bottom: 16px;
              resize: none;
              outline: none;
              &::placeholder{
                color: #9b9b9b;
                font-family: "Nunito Sans";
                font-size: 13px;
                font-weight: 400;
              }
            }
            .addCommentBtn{
              background: transparent;
              padding: 10px 24px;
              margin: 0;
              color: #434f68;
              font-family: "Nunito Sans";
              font-size: 14px;
              font-weight: 400;
              border-radius: 3px;
              border: 1px solid #434f68;
              transition: 0.3s ease-in-out;
              &:hover{
                background: #2b4b6b;
                color: #fff;
              }
              &:focus{
                background: #2b4b6b;
                color: #fff;
              }
            }
          }
          &_changer{
            display: none;
            border-top: 1px solid #d8d8d8;
            border-bottom: 1px solid #d8d8d8;
            margin-top: 32px;
            @media screen and (max-width: 768px){
              display: flex;
              margin: 32px -28px 0;
            }
            div{
              flex: 1;
              padding: 16px;
              color: #9b9b9b;
              font-family: "Nunito Sans";
              font-size: 18px;
              font-weight: 700;
              text-align: center;
              cursor: pointer;
              &:not(:last-child){
                border-right: 1px solid #d8d8d8;
              }
              &.active{
                color: #2b4b6b;
              }
            }
          }
        }
      }
    }
    &__right{
      max-width: 360px;
      min-width: 200px;
      width: 100%;
      background-color: #efefef;
      padding: 32px 40px;
      @media screen and (min-width: 768px){
        display: block !important;
      }
      @media screen and (max-width: 768px){
        display: none;
        max-width: 100%;
      }
      &_header{
        *{
          color: #2b4b6b;
          font-family: "Nunito Sans";
          font-size: 20px;
          font-weight: 700;
          margin: 0 0 15px;
        }
      }
      &_list{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        margin-top: 14px;
        padding: 0;
        &_item{
          display: flex;
          flex-direction: column;
          width: 100%;
          max-width: 250px;
          padding: 25px 0 22px;
          margin-bottom: 8px;
          border-bottom: 1px solid #d8d8d8;
          &:first-child{
            padding-top: 0;
          }
          &_type{
            color: #666666;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1.2px;
          }
          &_title{
            margin-bottom: 10px;
            *{
              color: #2b4b6b;
              font-family: "Nunito Sans";
              font-size: 16px;
              font-weight: 700;
            }
          }
        }
      }
      &_more{
        text-align: center;
        a{
          color: #666666;
          font-family: "Nunito Sans";
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
    &__comments_list{
      margin-top: 15px;
      @media screen and (min-width: 768px){
        display: block !important;
      }
      @media screen and (max-width: 768px){
        max-width: 588px;
        width: 100%;
        margin: 15px auto 0;
      }
      &_header{
        color: #2b4b6b;
        font-family: "Nunito Sans";
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 12px;
      }
      &_container{
        &_items{
          padding: 0;
          list-style: none;
          margin: 0;
          &_item{
            padding: 16px 0 0;
            border-bottom: 1px solid #d8d8d8;
            &:first-child{
              border-top: 1px solid #d8d8d8;
            }
            &_title{
              max-width: 690px;
              width: 100%;
              *{
                color: #2b4b6b;
                font-family: "Nunito Sans";
                font-size: 16px;
                font-weight: 700;
              }
            }
            &_text{
              max-width: 690px;
              width: 100%;
              color: #666666;
              font-family: "Nunito Sans";
              font-size: 16px;
              font-weight: 400;
              margin-bottom: 4px;
            }
            .resources-single__comments_list_container_items{
              margin-left: 40px;
              &_item{
                border-top: 1px solid #d8d8d8 !important;
                border-bottom: 0;
              }
            }
            &_bottom{
              display: flex;
              justify-content: space-between;
              margin-bottom: 14px;
              .single-post-statistic button:not(:last-child){
                margin-right: 23px;
              }
              &_reply{
                display: flex;
                align-items: center;
                color: #9b9b9b;
                font-family: "Nunito Sans";
                font-size: 13px;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}

