<div class='hb-jumbo'>
	<h1 class="hb-jumbo__title">IAFC Handnook</h1>
	<h5 class="hb-jumbo__desc">
		A digital resource guide for education, <br class="mob-br-none">
        training and guidance on administrative <br class="mob-br-none">
        tasks associated with leading and managing <br class="mob-br-none">
        your volunteer fire department.
	</h5>
	<div class="hb-jumbo__search">
		<fieldset>
			<input placeholder="Search" type="text" id="searchText" class="k-input"  onkeypress="process(event, this)" />
			<button type="button" class="searchBtn" onclick="doSearch()"></button>
		</fieldset>
	</div>
</div>

<script>

	function process(e) {
		
		var code = (e.keyCode ? e.keyCode : e.which);
		if (code == 13) {
			e.preventDefault();
			doSearch();
		}
	}

	function doSearch() {
		var searchStr = document.getElementById("searchText").value;
		var searchPageUrl = "/topics-and-tools/volunteer/vws/chiefs-a-rit/search-results/" + searchStr;
		window.location.href = searchPageUrl;
	}

</script>
