
<div class="hb-jumbo__search">
	<input type="text" id="searchText" size="40" />
	<button type="button" class="searchBtn" onclick="doSearch()"> Search </button>
</div>


<script type="text/javascript">

    function doSearch() {
        var searchStr = document.getElementById("searchText").value;
        var searchPageUrl = "/iafchandbookhome/search-results/"+searchStr;
        window.location.href = searchPageUrl;
    }

</script>
