<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/picnic/6.1.1/plugins.min.css"></link>
    @*<script src="/Sitefinity/WebsiteTemplates/MatrixBase/App_Themes/MatrixBase/SiteApp/build/main.js"></script>*@
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
