<?xml version="1.0" encoding="utf-8"?>
<appSettingsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0">
	<keyValuePairs>
		<viewSettings value="722fcb5c-7836-6c70-9642-ff00005f0421" key="NewsCatalogGuid" />
		<viewSettings value="Job Listing:Telerik.Sitefinity.DynamicTypes.Model.JobListings.JobListing" key="ContentListContentTypeFilterMapList" />
		<viewSettings value="9004939C-4174-6FCD-88EA-FF000002C0F4" key="ContentListCatalogId" />
		<viewSettings value="2B43AF5C-7836-6C70-9642-FF00005F0421" key="ContentListCategoryFilterTaxaId" />
		<viewSettings value="F6B7B05C-7836-6C70-9642-FF00005F0421" key="ResourceLibraryTaxonomyId" />
		<viewSettings value="F3FCB05C-7836-6C70-9642-FF00005F0421" key="ResourceLibraryCatalogId" />
		<viewSettings value="Resource" key="ResourceLibrary.DocumentLibrary.ToSearch" />
		<viewSettings value="119AB15C-7836-6C70-9642-FF00005F0421" key="ResourceLibraryTaxonomyAuthorId" />
		<viewSettings value="4397B15C-7836-6C70-9642-FF00005F0421" key="ResourceLibraryTaxonomyTypeId" />
		<viewSettings value="OnSceneArticles.OnSceneArticle|PressReleases.PressRelease|Resources.Resource" key="RelatedItems.DynamicType.List" />
		<viewSettings value="Resources|40a9b45c-7836-6c70-9642-ff00005f0421:Events|D8CAB55C-7836-6C70-9642-FF00005F0421" key="SearchIndex.Guids" />
	</keyValuePairs>
</appSettingsConfig>