<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0" authenticationProtocol="SimpleWebToken" encryptionKey="6093B674C4FC6CA1E7302EEF86E4247E673FF1EE5B6F66A725EF7F0034B30E9F" />