<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0" searchFields="Title,Body,Reporter,Subtitle,Summary,DisplayDate,LegacyId,TopCalloutBox,BottomCalloutBox,Byline,Uppercalloutbox,Lowercalloutbox" viewName="On Scene ArticleBackendList" config:flags="1" />