<?xml version="1.0" encoding="utf-8"?>
<eventsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0">
	<contentViewControls>
		<contentViewControl definitionName="EventsBackend" config:flags="1">
			<views>
				<config:lazy key="EventsBackendEdit" configFile="EventsConfig.contentViewControls.EventsBackend.views.EventsBackendEdit.config" />
				<config:lazy key="EventsBackendInsert" configFile="EventsConfig.contentViewControls.EventsBackend.views.EventsBackendInsert.config" />
				<config:lazy key="EventsBackendDuplicate" configFile="EventsConfig.contentViewControls.EventsBackend.views.EventsBackendDuplicate.config" />
				<config:lazy key="EventsBackendPreview" configFile="EventsConfig.contentViewControls.EventsBackend.views.EventsBackendPreview.config" />
				<config:lazy key="EventsBackendVersionPreview" configFile="EventsConfig.contentViewControls.EventsBackend.views.EventsBackendVersionPreview.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
</eventsConfig>