<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0">
	<notifications newPostNotificationTemplateId="a206af5c-7836-6c70-9642-ff00005f0421" newThreadNotificationTemplateId="a306af5c-7836-6c70-9642-ff00005f0421" />
</forumsConfig>