<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0" projectName="Default" dateCreated="2014-07-08 18:31:03Z">
	<defaultSite id="7188f8bb-09b2-40b2-b17f-2984151703ba" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" homePageId="2513af5c-7836-6c70-9642-ff00005f0421" />
</projectConfig>