<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0" authCookieName=".SFAUTH-Default" authCookieDomain="iafc.org" rolesCookieName=".SFROLES-Default" rolesCookiePathDomain="iafc.org" validationKey="69B1CE93076E19BE2157ABA780544B8E5252BFA9BE006E5A4F5DFDF8E85ECC1B989E3E7B3061C301338EAADD39D5963357BC1298CECA13212D346BF3B8D95ECD" decryptionKey="3DD64520F56AB27D045CE67E545DA54EBC1FACD363FF58D6AF92F3D12FC06F2E" loggingCookieName=".SFLOG-Default" filterQueriesByViewPermissions="True" disableActiveUserLoginsLimitation="True" logOutUsersFromDifferentClientsOnLogin="True">
	<securityTokenIssuers>
		<add key="460D9133545D665BB2BD8F9A7326497532D4D62CD0E08E7850AA3CA8F394F605" membershipProvider="Default" realm="http://localhost" />
		<add key="460D9133545D665BB2BD8F9A7326497532D4D62CD0E08E7850AA3CA8F394F605" membershipProvider="Default" realm="https://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="460D9133545D665BB2BD8F9A7326497532D4D62CD0E08E7850AA3CA8F394F605" realm="http://localhost" />
		<add key="460D9133545D665BB2BD8F9A7326497532D4D62CD0E08E7850AA3CA8F394F605" realm="https://localhost" />
	</relyingParties>
	<permissions>
		<config:link name="Blog" path="blogsConfig/permissions/Blog" module="Blogs" />
		<config:link name="BlogPost" path="blogsConfig/permissions/BlogPost" module="Blogs" />
		<config:link name="List" path="listsConfig/permissions/List" module="Lists" />
		<config:link name="ListItem" path="listsConfig/permissions/ListItem" module="Lists" />
		<permission title="Dynamic field permissions" description="Represents the permissions for dynamic fields." name="DynamicFields">
			<actions>
				<add title="View {0}" description="Allows or denies viewing a dynamic field." type="View" name="View" />
				<add title="Modify {0}" description="Allows or denies changes to existing dynamic field." type="Modify" name="Modify" />
				<add title="Change a {0} permissions" description="Allows or denies changing the permissions of a dynamic field." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="ForumGroupPermissions" description="ForumPermissionsDescription" resourceClassId="ForumsResources" name="ForumGroup">
			<actions>
				<add title="CreateForumGroupAction" description="CreateForumGroupActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateGroup" />
				<add title="ModifyForumGroupAction" description="ModifyForumGroupActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyGroup" />
				<add title="DeleteForumGroupAction" description="DeleteForumGroupActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteGroup" />
				<add title="ChangeGroupPermissionsAction" description="ChangeGroupPermissionsActionDescription" resourceClassId="ForumsResources" type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="ForumPermissions" description="ForumPermissionsDescription" resourceClassId="ForumsResources" name="Forum">
			<actions>
				<add title="ViewForumAction" description="ViewForumActionDescription" resourceClassId="ForumsResources" type="View" name="ViewForum" />
				<add title="CreateForumAction" description="CreateForumActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateForum" />
				<add title="ModifyForumAction" description="ModifyForumActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyForum" />
				<add title="DeleteForumAction" description="DeleteForumActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteForum" />
				<add title="CreateThreadAction" description="CreateThreadActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateThread" />
				<add title="ModifyThreadAction" description="ModifyThreadActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyThread" />
				<add title="ManageThreadAction" description="ManageThreadActionDescription" resourceClassId="ForumsResources" type="Modify" name="ManageThread" />
				<add title="DeleteThreadAction" description="DeleteThreadActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteThread" />
				<add title="CreatePostAction" description="CreatePostActionDescription" resourceClassId="ForumsResources" type="Create" name="CreatePost" />
				<add title="ModifyPostAction" description="ModifyPostActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyPost" />
				<add title="DeletePostAction" description="DeletePostActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeletePost" />
				<add title="ChangeForumPermissionsAction" description="ChangeForumPermissionsActionDescription" resourceClassId="ForumsResources" type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
	</permissions>
	<customPermissionsDisplaySettings>
		<customSet setName="General" config:flags="1">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.News.Model.NewsItem, Telerik.Sitefinity.ContentModules" path="newsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.News.Model.NewsItem, Telerik.Sitefinity.ContentModules" module="News" />
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
				<config:link typeName="Telerik.Sitefinity.Events.Model.Event" path="eventsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.Events.Model.Event" module="Events" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Blog">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/Blog/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="BlogPost">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/BlogPost/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.BlogPost" path="blogsConfig/customPermissionsDisplaySettings/BlogPost/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.BlogPost" module="Blogs" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="List">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Lists.Model.List" path="listsConfig/customPermissionsDisplaySettings/List/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.List" module="Lists" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="ListItem">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Lists.Model.List" path="listsConfig/customPermissionsDisplaySettings/ListItem/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.List" module="Lists" />
				<config:link typeName="Telerik.Sitefinity.Lists.Model.ListItem" path="listsConfig/customPermissionsDisplaySettings/ListItem/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.ListItem" module="Lists" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="ForumGroup">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Forums.Model.ForumGroup">
					<customSecurityActions>
						<customSecurityAction name="CreateGroup" />
						<customSecurityAction showActionInList="True" title="ModifyThisGroupAction" resourceClassId="ForumsResources" name="ModifyGroup" />
						<customSecurityAction showActionInList="True" title="DeleteThisGroupAction" resourceClassId="ForumsResources" name="DeleteGroup" />
						<customSecurityAction showActionInList="True" title="ChangeThisGroupPermissionsAction" resourceClassId="ForumsResources" name="ChangePermissions" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Forum">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Forums.Model.Forum">
					<customSecurityActions>
						<customSecurityAction name="CreateForum" />
						<customSecurityAction showActionInList="True" title="ViewThisForumAction" resourceClassId="ForumsResources" name="ViewForum" />
						<customSecurityAction showActionInList="True" title="ModifyThisForumAction" resourceClassId="ForumsResources" name="ModifyForum" />
						<customSecurityAction showActionInList="True" title="DeleteThisForumAction" resourceClassId="ForumsResources" name="DeleteForum" />
						<customSecurityAction showActionInList="True" title="ChangeThisForumPermissionsAction" resourceClassId="ForumsResources" name="ChangePermissions" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
	</customPermissionsDisplaySettings>
	<applicationRoles>
		<role id="ed6896aa-4ccf-4d0a-a3b7-a26076d6c59a" name="Everyone" config:flags="1" />
		<role id="1ad090ba-3ac6-4496-a36b-5cf9b2a7b038" name="Anonymous" config:flags="1" />
		<role id="6f5a4347-1009-4cd7-970b-2f0f59da4a5b" name="Authenticated" config:flags="1" />
		<role id="5eae9455-bbe6-491c-a8e3-b2805c7143c8" name="Owner" config:flags="1" />
		<role id="37d8ceb9-c738-44ba-8a2b-109e8bb3f575" name="Administrators" config:flags="1" />
		<role id="95741e96-412d-4652-aa22-2a246e5a2a8e" name="BackendUsers" config:flags="1" />
		<role id="7bc30dad-b7cb-4735-9864-adc2b5927bd6" name="Authors" config:flags="1" />
		<role id="41926f08-f35a-4eb0-8ad8-1690120a9101" name="Editors" config:flags="1" />
		<role id="93a417ed-507a-4dee-8502-adca8ff831d7" name="Designers" config:flags="1" />
		<role id="eb102179-c313-4dc8-99ab-15d3e04e6efb" name="Users" config:flags="1" />
	</applicationRoles>
	<roleProviders>
		<add title="Corporate" description="Results Direct" type="Telerik.Sitefinity.Security.Ldap.LdapRoleProvider, Telerik.Sitefinity" name="Corporate" />
	</roleProviders>
	<membershipProviders>
		<add enablePasswordReset="true" recoveryMailAddress="info@iafc.org" name="Default" config:flags="1" />
		<add title="Corporate" description="Results Direct" type="Telerik.Sitefinity.Security.Ldap.LdapMembershipProvider, Telerik.Sitefinity" name="Corporate" />
	</membershipProviders>
	<administrativeRoles>
		<role roleProvider="Corporate" roleName="rdDevelopment" />
		<role roleProvider="Corporate" roleName="Team-AM" />
	</administrativeRoles>
	<LdapConnections defaultLdapConnection="Corporate">
		<connections>
			<LdapConnection serverName="corporate.metatech.com" connectionDomain="corporate" connectionUsername="sitefinity" connectionPassword="841I^C&lt;.gT" maxReturnedUsers="200" usersDN="OU=RD_Staff,dc=corporate,dc=metatech,dc=com" userFilter="(objectClass=organizationalPerson)" maxReturnedRoles="200" rolesDns="OU=RD_Groups,DC=corporate,DC=metatech,DC=com" roleFilter="(|(cn=rdDevelopment)(cn=Team-AM))" name="Corporate" />
		</connections>
	</LdapConnections>
</securityConfig>