<?xml version="1.0" encoding="utf-8"?>
<sitemapConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0">
	<siteConfigs>
		<add urlLimit="10000" siteName="default" siteId="7188f8bb-09b2-40b2-b17f-2984151703ba" />
	</siteConfigs>
</sitemapConfig>