<?xml version="1.0" encoding="utf-8"?>
<workflowConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0">
	<workflowsTypes>
		<add serviceUrl="~/DefaultWorkflows/AnyContentApprovalWorkflow.xamlx" title="NewsTitle" resourceClassId="NewsResources" moduleName="News" contentType="Telerik.Sitefinity.News.Model.NewsItem" />
		<add serviceUrl="~/DefaultWorkflows/AnyContentApprovalWorkflow.xamlx" title="BlogsTitle" resourceClassId="BlogResources" moduleName="Blogs" contentType="Telerik.Sitefinity.Blogs.Model.BlogPost" />
		<add serviceUrl="~/DefaultWorkflows/AnyContentApprovalWorkflow.xamlx" title="ModuleTitle" resourceClassId="EventsResources" moduleName="Events" contentType="Telerik.Sitefinity.Events.Model.Event" />
		<add serviceUrl="~/DefaultWorkflows/AnyContentApprovalWorkflow.xamlx" title="Lists" resourceClassId="ListsResources" moduleName="Lists" contentType="Telerik.Sitefinity.Lists.Model.ListItem" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="General product &lt;i&gt;(Ecommerce)&lt;/i&gt;" moduleName="Ecommerce" contentType="Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_generalproduct" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Book &lt;i&gt;(Ecommerce)&lt;/i&gt;" moduleName="Ecommerce" contentType="Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_book" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Song &lt;i&gt;(Ecommerce)&lt;/i&gt;" moduleName="Ecommerce" contentType="Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_song" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Software &lt;i&gt;(Ecommerce)&lt;/i&gt;" moduleName="Ecommerce" contentType="Telerik.Sitefinity.DynamicTypes.Model.sf_ec_prdct_software" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Banner" moduleName="Banners" contentType="Telerik.Sitefinity.DynamicTypes.Model.Banners.Banner" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Ad" moduleName="House Ads" contentType="Telerik.Sitefinity.DynamicTypes.Model.HouseAds.Ad" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Job Posting" moduleName="Job Posting" contentType="Telerik.Sitefinity.DynamicTypes.Model.JobPosting.JobPosting" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Relation" moduleName="Relatable Content" contentType="Telerik.Sitefinity.DynamicTypes.Model.RelatableContent.Relation" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Resource" moduleName="Resources" contentType="Telerik.Sitefinity.DynamicTypes.Model.Resources.Resource" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Position" moduleName="Positions" contentType="Telerik.Sitefinity.DynamicTypes.Model.Positions.Position" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Policy" moduleName="Policy" contentType="Telerik.Sitefinity.DynamicTypes.Model.Policy.Policy" />
		<add title="RSG" moduleName="RSG Program" contentType="Telerik.Sitefinity.DynamicTypes.Model.RSGProgram.rsg" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Callout Boxes" moduleName="Callout Boxes" contentType="Telerik.Sitefinity.DynamicTypes.Model.CalloutBoxes.Matrix" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Legacy Industry Article" moduleName="Legacy Industry Articles" contentType="Telerik.Sitefinity.DynamicTypes.Model.LegacyIndustryArticles.LegacyIndustryArticle" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Dossier Article" moduleName="Dossier Articles" contentType="Telerik.Sitefinity.DynamicTypes.Model.DossierArticles.DossierArticle" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="On Scene Article" moduleName="On Scene Articles" contentType="Telerik.Sitefinity.DynamicTypes.Model.OnSceneArticles.OnSceneArticle" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Press Release" moduleName="Press Releases" contentType="Telerik.Sitefinity.DynamicTypes.Model.PressReleases.PressRelease" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="KnowledgeNet Entry" moduleName="KnowledgeNet" contentType="Telerik.Sitefinity.DynamicTypes.Model.KnowledgeNet.KnowledgenetEntry" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Vendor Logos" moduleName="Vendor Logos" contentType="Telerik.Sitefinity.DynamicTypes.Model.VendorLogos.VendorLogos" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Protected resource" moduleName="Resources Protected" contentType="Telerik.Sitefinity.DynamicTypes.Model.ResourcesProtected.ProtectedResource" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Canvas_PageTitle1" moduleName="CanvasDefault" contentType="Telerik.Sitefinity.DynamicTypes.Model.CanvasDefault.Travis" />
		<add title="HazmatNewsItem" moduleName="Hazmat Custom News" contentType="Telerik.Sitefinity.DynamicTypes.Model.HazmatCustomNews.Hazmatnewsitem" />
		<add title="Attendeecomment" moduleName="Attendee comments" contentType="Telerik.Sitefinity.DynamicTypes.Model.Attendeecomments.Attendeecomment" />
		<add title="Conf Event Slide" moduleName="Conference Event Carousel" contentType="Telerik.Sitefinity.DynamicTypes.Model.ConferenceEventCarousel.ConfEventSlide" />
		<add title="Agenda item" moduleName="Conference Agenda" contentType="Telerik.Sitefinity.DynamicTypes.Model.ConferenceAgenda.AgendaItems" />
		<add title="confsponsoritem" moduleName="Conference Sponsors Grid" contentType="Telerik.Sitefinity.DynamicTypes.Model.ConferenceSponsorsGrid.Confsponsoritem" />
		<add title="Hazmat Event" moduleName="Custom Hazmat Events" contentType="Telerik.Sitefinity.DynamicTypes.Model.CustomHazmatEvents.HazmatEvent" />
		<add title="Handbook posts" moduleName="Handbook posts" contentType="Telerik.Sitefinity.DynamicTypes.Model.Handbookposts.HandbookPosts" />
		<add title="Resources External" moduleName="Handbook Resources" contentType="Telerik.Sitefinity.DynamicTypes.Model.HandbookResources.ResourcesExternal" />
		<add title="Category icons" moduleName="Category Icons" contentType="Telerik.Sitefinity.DynamicTypes.Model.CategoryIcons.CategoryIcons" />
		<add title="IAFCHandBookComments" moduleName="IAFCHandBookComments" contentType="Telerik.Sitefinity.DynamicTypes.Model.IAFCHandBookComments.IAFCHandBookComments" />
		<add title="IAFCHandBookLikes" moduleName="IAFCHandBookLikes" contentType="Telerik.Sitefinity.DynamicTypes.Model.IAFCHandBookLikes.IAFCHandBookLikes" />
		<add title="IAFCHandBookResourcesData" moduleName="IAFCHandBookResourcesData" contentType="Telerik.Sitefinity.DynamicTypes.Model.IAFCHandBookResourcesData.Iafchandbookresourcesdata" />
	</workflowsTypes>
</workflowConfig>