@charset "utf-8";
/* CSS Document */

/*
#primary-menu .k-treeview{
	float:left;
}
*/
.vtcschwrp{
	display: none;
	position:relative;
}

.top-search-open .vtcschwrp, .sfPageWrapper .vtcschwrp {
	display: block;
}

.sfPageWrapper .vtcschwrp {
	clear:both;
}

.top-search-open #primary-menu .sfNavHorizontalDropDownWrp{
display:none;
}

#primary-menu .k-menu-horizontal{
	background-image: none !important;
	background-color: transparent !important;
}

#primary-menu > .k-animation-container{
	top:46px;
}

#primary-menu .k-menu-horizontal .k-item{
	margin:0;
padding:0;
}


#primary-menu .k-menu .k-item, .k-widget.k-menu-horizontal>.k-item {
	border:none;
}
#primary-menu .k-menu .k-item, .k-widget.k-menu-horizontal>.k-in {
    display: block;
    line-height: 22px;
    padding:20px 4px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    -webkit-transition: margin .4s ease, padding .4s ease;
    -o-transition: margin .4s ease, padding .4s ease;
    transition: margin .4s ease, padding .4s ease;
	border:none;
	background: none !important;
}

#header.sticky-header:not(.static-sticky) .k-menu .k-item {
    display: block;
    line-height: 22px;
    padding:0px 4px;

}

#primary-menu .k-menu-horizontal .k-in.k-state-hover, #primary-menu .k-menu-horizontal .k-link.sfSel {
	color: #fbe122;
}

/*#primary-menu .k-menu-horizontal .k-group{
	top:1px;
	left:42px;
}*/

#primary-menu .k-group .k-item{
	padding: 0;
	position:relative;
}

.rwd-nav .k-treeview .k-in {
    margin: 1px 0 1px .16666em;
    text-decoration: none;
    border-style: none;
    
	color: #fff;
	line-height: 22px;
    padding: 14px 5px 14px 21px;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.rwd-nav .k-treeview .k-in:hover .k-link{
	color: #fbe122;
	
	
}
.rwd-nav  .k-treeview .k-icon{
	position: absolute;
	top: 18px;
	left: 18px;
	
}

.rwd-nav  .k-treeview .k-icon.k-plus:before{
    color:#000;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
	    content: '\f054';
		margin-right: .4em;
	font-size: 15px;
	
}

.rwd-nav  .k-treeview .k-icon.k-minus:before{
    color:#000;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
	    content: '\f078';
		margin-right: .4em;
	font-size: 15px;
	
}
/*search*/
.vtcschwrp {
	height: 100px;

}
.vtcschwrp  fieldset {
	
    border-top: none;
	border-left: none;
	border-right: none;
    margin: 0;
    padding: 0;

	position:relative;

		border-bottom: 1px solid #fff;

	box-sizing: border-box;
	    height: 90px;
    margin-bottom: 10px;
	
	font-size: 18px;
	font-style: italic;
}

.vtcschwrp .sfsearchTxt {
	position: relative;
	width: 100%;
	margin-top: 5px;
	height: 80px;
	border: none;
background: none;

} 

.vtcschwrp .sfsearchSubmit{
position:absolute;
top:30px;
right: 1em;
background: none;
	padding: 0 1em;
	border: 1px solid rgba(0,0,0,0.15);
	 font-size: 14px;
    height: 40px;
    line-height: 40px;
    background-color: #C02942;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
     text-shadow: 1px 1px 1px 1px 1px 1px rgba(0,0,0,0.2);
	border-radius: 3px;
    border-bottom: 3px solid rgba(0,0,0,0.15);
}

.sfFormsEditor .sfTxt{
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 14px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #DDD;
    border-radius: 0 !important;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}
.sfFormsEditor textarea{
	height: 150px !important;
}
.sfFormsEditor .sfFormSubmit  input[type="submit"]{
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    margin: 5px;
    padding: 0 22px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    background-color: #C02942;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px 1px 1px 1px rgba(0,0,0,0.2);
	border-radius: 3px;
    border-bottom: 3px solid rgba(0,0,0,0.15);
}

.sfNavHorizontalDropDownWrp  .k-animation-container{

    top: 60px !important;
	margin-left: 0px !important;
    padding: 0px !important;
    display: inline !important;

}
