@model Guid

<div id="@string.Format("{0}_{1}","replyCommentsBlock", Model.ToString())">
	<div class="replyAddComment">
		<div>
			<textarea cols="40"
					  rows="5"
					  style="width:700px; height:100px"
					  name="commentName"
					  id="@string.Format("{0}_{1}", "replyComment", Model.ToString())"
					  value="">
				</textarea>
		</div>
		<button type="button" class="addReplyCommentBtn" data-id="@Model.ToString()"> Add Reply </button>
	</div>
</div>

