@model Guid

<div id="@string.Format("{0}_{1}","replyCommentsBlock", Model.ToString())">
	<div class="replyAddComment">
		<div>
			<textarea placeholder="Add a comment…" id="@string.Format("{0}_{1}", "replyComment", Model.ToString())"
					  value="">
				</textarea>
		</div>
		<button type="button" class="addReplyCommentBtn" data-id="@Model.ToString()"> Add Reply </button>
	</div>
</div>

