<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="appRoles" value="Administrators,Anonymous,Authenticated,Authors,BackendUsers,Editors,Everyone,Designers,Owner,Users,Research,Special,Events,IAFC CM: Gen Content/Updating,IAFC Approver: Gen Content,IAFC Editor,IAFC Approver: Articles,TestHelixRole" />
    <add key="appAllowDynamicAddRoles" value="false" />
    <add key="app" value="Administrators,Anonymous,Authenticated,BackendUsers,Everyone,Owner" />
    <add key="appAllowModifyRole" value="true" />
  </appSettings>
</configuration>
